@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
    font-family: 'Visitor';
    font-style: normal;
    font-weight: normal;
    src: local('Visitor TT2 BRK'), url('./visitor2.woff') format('woff');
}

:root {
    --AccentBlue: #3090D6;
    --AccentRed: #E85151;
    --AccentGreen: #64B040;
    --RedGradient: rgba(222, 77, 77, 0.5);
    --BlueGradient: rgba(77, 161, 222, 0.5);
    --GreenGradient: rgba(123, 222, 77, 0.5);
    --Text: white;
    --DarkerText: #9E9E9E;
    --BodyBG: #1C1C1C;
    --BoxBG: #121212;
    --DarkerBoxBG: #090909;
    font-size: 18px;
}

* {
    margin: 0;
    padding: 0;
    color: var(--Text);
}

body {
    background: var(--BodyBG);
    font-family: "Be Vietnam Pro";
}

button {
    box-sizing: border-box;
    border: none;
    outline: none;
    background: none;
    font-size: 1rem;
    font-family: inherit;
}

button {
    cursor: pointer;
}

p {
    line-height: 1.6;
}

header {
    height: 4.444rem;
    background: var(--BoxBG);
    box-shadow: 0 0.222rem 0.444rem 0 rgba(0,0,0,0.6);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}

.Logo {
    height: 4.444rem;
    width: 4.444rem;
    background-image: url(./logo.svg);
    background-size: 100% 100%;
}

.Menu {
    display: flex;
}

.MenuButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
    height: 4.444rem;
    box-sizing: border-box;
    user-select: none;
    cursor: pointer;
}

.MenuButton.Active {
    border-bottom: 0.111rem solid var(--AccentBlue);
}

.MenuButton.Download {
    margin-left: 0.778rem;
    background: var(--AccentBlue);
}

footer {
    padding: 1rem;
    display: flex;
}

footer > p {
    font-size: 0.778rem;
    color: var(--DarkerText);
}

.EggText {
    color: var(--BodyBG);
    cursor: default;
}

.Banner {
    height: 22.222rem;
    background: linear-gradient(90deg, var(--RedGradient) 0%, var(--BodyBG) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.GradientHeading {
    font-size: 4rem;
    font-weight: normal;
    font-family: "Visitor";
    background: -webkit-linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.5));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 1.667rem;
}

.Banner > div > p {
    margin-bottom: 3.333rem;
}

.BannerButtons {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1.111rem;
}

.BannerButtons > button {
    height: 2.778rem;
    width: 9.778rem;
    background: var(--DarkerBoxBG);
}

.BannerButtons > .Highlight {
    background: var(--AccentRed);
}

.InfoPanels {
    height: 26.889rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.InfoPanels > div {
    padding: 3.889rem;
}

.InfoPanels > div > div > .GradientHeading {
    margin-bottom: 1.667rem;
}

.InfoPanels > .Syntax {
    background: linear-gradient(90deg, var(--BlueGradient) 0%, var(--BodyBG) 100%);
}

.InfoPanels > .GetStarted {
    background: linear-gradient(90deg, var(--BodyBG) 0%, var(--GreenGradient) 100%);
    text-align: right;
}

.InfoPanels > .Syntax > div > p {
    width: 60%;
    margin-bottom: 2.778rem;
}

.GetStartedPanelsContainer {
    display: flex;
}

.GetStartedPanels {
    display: inline-flex;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: auto;
    column-gap: 1.111rem;
}

.GetStartedPanels > div {
    background: var(--BodyBG);
    height: calc(12.778rem - 1.111rem - 1.111rem);
    width: calc(12.111rem - 1.111rem - 1.111rem);
    text-align: left;
    padding: 1.111rem;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    row-gap: 0.556rem;
}

.GetStartedPanels > div > .Sub {
    font-size: 0.778rem;
    color: var(--DarkerText);
}

.GetStartedPanels > div > button {
    background: var(--AccentGreen);
    height: 2.778rem;
}